.header-section {
  background-color: rgb(240, 240, 240);
}
.video-container {
  margin: auto;
  max-width: 700px;
}
.tre-section {
  background-color: rgb(240, 240, 240);
}
.five-section {
  background-color: rgb(240, 240, 240);
}
.register-form {
  max-width: 300px;
  margin: auto;
}
